.table-hover > tbody > tr {
  /* Override bootstrap table hover bg and color */
  --bs-table-hover-bg: hsl(199, 70%, 47%);
  --bs-table-hover-color: white;
}

.table-hover > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: var(--bs-border-radius);
}

.table-hover > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: var(--bs-border-radius);
}
