:root {
  --bg-light-danger: hsl(0, 100%, 65%);
  --bg-light-success: hsl(151, 82%, 58%);
  --default-bg-color: hsl(228, 73%, 21%);
  --default-color: white;
  --font-light-success: hsl(151, 78%, 39%);
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.overlap-above {
  position: relative;
  top: -4vh;
  box-shadow: 0 0 20px 2px black;
}

.shadow-below {
  box-shadow: 0 3px 10px 0 black;
}

.bg-default {
  background-color: var(--default-bg-color);
  color: var(--default-color);
}

.bg-light-danger {
  background-color: var(--bg-light-danger);
}

.bg-light-success {
  background-color: var(--bg-light-success);
}

.button-border-focus:focus {
  border: 3px solid var(--default-color);
  outline: none;
}

.button-border-focus:hover {
  border: 5px solid var(--default-color);
  color: var(--default-color);
}

.button-border-focus:disabled {
  border: none;
}

.centered-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

.text-light-success {
  color: var(--font-light-success);
}
