.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.overlap-above {
  position: relative;
  top: -4vh;
  box-shadow: 0 0 20px 2px black;
}

.shadow-below {
  box-shadow: 0 3px 10px 0 black;
}

.bg-default {
  background-color: #0e1e5b;
  color: white;
}

.bg-light-danger {
  background-color: #ff4e4e;
}

.bg-light-success {
  background-color: #3eec98;
}

.button-border-focus:focus {
  border: 3px solid white;
  outline: none;
}

.button-border-focus:hover {
  border: 5px solid white;
  color: white;
}

.button-border-focus:disabled {
  border: none;
}

.centered-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

.text-light-success {
  color: #16b065;
}
